<H1>
    Hello --- Test
    
</H1>
<div>    
    <% if(typeof users !== 'undefined' && users.length > 0) { %>
        <% users.forEach(function(user, index){ %>
            <%- user.name  %>
        <% }) %>
    <% } %>
</div>
<div>
    <% if(typeof data !== 'undefined') { %>
        
    <% } %>
    
    